package ${package.Service};

import ${superServiceClassPackage};
import ${package.Entity}.${entity};

/**
 * <p>
 * $!{table.comment} 业务接口类
 * </p>
 *
 * @author ${author}
 * @date ${date}
 */
public interface ${table.serviceName} extends IService<${entity}>{


}
